<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/rac.css">
	<title>Details</title>
</head>
<div class='full'>
<form action="/final">
<h2>Slide 1 details</h2>
START YEAR <br>
<input type="text" name="year" placeholder="Enter Start Year" id='year' required> <br>
CORPORATE<br> 
<input type="text" name="corporateName" placeholder="Enter Corporate Name" id='corporateName' required> <br> 
AGENCY<br>
<input type="text" name="agencyName" placeholder="Enter Agency Name" id='agencyName' required> <br>

<h2>Slide 3 details</h2>

INSURER <br>
<input type="text" name="insurer" placeholder="Enter Name of Insurer" id='insurer' required> <br>
TPA <b>IF PRESENT</b> <br>
<input type="text" name="tpa" placeholder="Enter Name of TPA" id='tpa'> <br>
INSURANCE ADVISOR <br>
<input type="text" name="insAdvisor" placeholder="Enter Insurance Advisor" id='insAdvisor' required><br>
 POLICY START DATE<br>
<input type="text" name="startDate" placeholder="Enter Policy Start Date" id='startDate' required><br>
POLICY EXPIRY DATE<br>
<input type="text" name="expDate" placeholder="Enter Policy Expiry Date" id='expDate' required> <br>
COVERAGE TYPE<br>
<input type="text" name="covType" placeholder="Enter Coverage Type" id='covType' required> <br>
DEPENDENT COVERAGE<br>
<input type="text" name="depCov" placeholder="Enter Dependent Coverage" id='depCov' required> <br>
SUM INSURED<br>
<input type="text" name="sumIns1" placeholder="Enter Sum Insured" id='sumIns1' required> <br>

<h2>OPD Cover</h2>
PRE-HOSPITALIZATION OPD <br>
<input type="text" name="preOpd" placeholder="Enter OPD Cover" id='preOpd'required> <br>
POST-HOSPITALIZATION OPD <br>
<input type="text" name="postOpd" placeholder="Enter OPD Cover" id='postOpd' required> <br>

<h2>Room Rent Eligibility</h2>
ROOM RENT LIMIT PER DAY <br>
<input type="text" name="rentLimit" placeholder="Enter Room Rent Limit" id='rentLimit'required> <br>
ICU WARD LIMIT PER DAY <br>
<input type="text" name="icuWard" placeholder="Enter ICU ward limit" id='icuWard' required> <br>


<h2>Maternity & New Born cover</h2>
IS METERNITY COVERED? <b>Type Yes OR leave this section blank if not</b> <br>
<input type="yes" name="mat" id='mat'> <br>
<br>
SUM INSURED <br>
<input type="text" name="si1" placeholder="Enter Sum Insured" id='si1'> <br>
COVER FOR NORMAL DELIVERY <br>
<input type="text" name="cn1" placeholder="Enter Cover for Normal Delivery" id='cn1'> <br>
COVER FOR C-SECTION DELIVERY <br>
<input type="text" name="cc1" placeholder="Enter Cover for C-section Delivery" id='cc1'> <br>
<br>
SUM INSURED <br>
<input type="text" name="si2" placeholder="Enter Sum Insured" id='si2'> <br>
COVER FOR NORMAL DELIVERY <br>
<input type="text" name="cn2" placeholder="Enter Cover for Normal Delivery" id='cn2'> <br>
COVER FOR C-SECTION DELIVERY <br>
<input type="text" name="cc2" placeholder="Enter Cover for C-section Delivery" id='cc2'> <br>
<br>
SUM INSURED <br>
<input type="text" name="si3" placeholder="Enter Sum Insured" id='si3'> <br>
COVER FOR NORMAL DELIVERY <br>
<input type="text" name="cn3" placeholder="Enter Cover for Normal Delivery" id='cn3'> <br>
COVER FOR C-SECTION DELIVERY <br>
<input type="text" name="cc3" placeholder="Enter Cover for C-section Delivery" id='cc3'> <br>
<br>

<h2>Cover with Limits</h2>
Are there Cover with Limits? <b>Type Yes OR leave this section blank if not</b> <br>
<input type="yes" name="cwl" id='cwl'> <br>
<br>
COMPONENT <br>
<input type="text" name="com1" placeholder="Enter Component" id='com1'> <br>
CAP <br>
<input type="text" name="cap1" placeholder="Enter Cap" id='cap1'> <br>
<br>
COMPONENT <br>
<input type="text" name="com2" placeholder="Enter Component" id='com2'> <br>
CAP <br>
<input type="text" name="cap2" placeholder="Enter Cap" id='cap2'> <br>
<br>
COMPONENT <br>
<input type="text" name="com3" placeholder="Enter Component" id='com3'> <br>
CAP <br>
<input type="text" name="cap3" placeholder="Enter Cap" id='cap3'> <br>
<br>

<h2>Cashless Claim</h2>
ENTER WEBSITE LINK <br>
<input type="text" name="link" placeholder="Enter link" id='link'> <br>

<h2>Details For Second Level Escalation</h2>
NAME OF PERSON <br>
<input type="text" name="name" placeholder="Enter Name" id='name'required> <br>
PHONE NUMBER <br>
<input type="text" name="phno" placeholder="Enter Phone Number" id='phno' required> <br>
EMAIL ID <br>
<input type="text" name="email" placeholder="Enter Email ID" id='email'required> <br>
<br>


<button type = 'submit'>Done</button>
</form>
<script type="text/javascript" src="js/rac.js"></script>
</div>
</html>